* text=auto
.gitattributes text eol=lf
*.c text eol=lf
*.h text eol=lf
*.py text eol=lf
*.s text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.patch text eol=lf whitespace=-trailing-space
*.wrap text eol=lf
meson.build text eol=lf
meson_options.txt text eol=lf
